{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}Home | {{ block.super }}{% endblock %}

{% block content %}

    <section id="cover">
        <div id="cover-caption">
            <div class="container">
                <div class="col-sm-10 col-sm-offset-1">
                    <h1 class="dispaly-3">Welcome|{{ user }}</h1>
                    <form action="" class="form-inline">
                        <form action="" class="form-group">

                        </form>

                    </form>
                </div>
            </div>
        </div>
    </section>
    <section id="about">
        <div class="container">
            <div class="feature-content">
                <div class="row">
                    <div class="col-md-6 feature-caption">
                        <h2>About Us!</h2><br>
                        <p>We are the team of 3 people who are crazy enough to make great product that helps people
                            make their life easier, better and smarter. Our whole purpose is to is make the world a
                            better
                            place to
                            live.
                        </p>
                        <p>
                            We work on latest technology of 2016 to make really cool product in mainly 3 fields.
                        </p>
                        <ul>
                            <li>Web Technology</li>
                            <li>App development</li>
                            <li>Data Science</li>
                        </ul>
                    </div>
                    <div class="col-md-6 hidden-sm-down">
                        <img src="{% static "img/stage.jpg" %}" alt="about" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}